<ion-header>
    <ion-navbar>
      <ion-buttons>
          <button ion-button (click)="navigateToHomePage()">
              CrowdCoin
            </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button (click)="navigateToHomePage()">
            Campaigns
          </button>
          <button ion-button icon-only (click)="navigateToPage('CreateCampaignPage')">
              <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
